<%= search_form_for @p, url: users_search_path, class: 'registration-main' do |f| %>
<div class="form-wrap">
  <div class="form-header">
    <h2 class="form-header-text">ユーザー検索</h2>
  </div>

  <div class="form-area">
    <div class="form-text-area">
      <%= f.label :name_eq,  'ユーザー名', class: 'form-text' %>
    </div>
    <%= f.search_field :user_name_cont, class:'text-box' %>
  </div>

  <div class="form-area">
    <div class="form-text-area">
      <%= f.label :area_eq,'居住地', class: 'form-text' %>
    </div>
    <%= f.collection_select(:area_id_eq, Area.all, :id, :name,{include_blank: '指定なし'}, {class:"pull_select"})%>
  </div>

  <div class="form-area">
    <div class="form-text-area">
      <%= f.label :occupation_eq,'職業', class: 'form-text'%>
    </div>
    <%= f.collection_select :occupation_id_eq, Occupation.all, :id, :name, {include_blank: '指定なし'}, {class:"pull_select"}%>
  </div>

  <div class="form-area">
    <div class="form-text-area">
      <%= f.label :genre_eq, '業種', class: 'form-text' %>
    </div>
    <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, {include_blank: '指定なし'},{class:"pull_select"} %>
  </div>

  <div class="form-area">
    <div class="form-text-area">
      <%= f.label :experience_eq, '開発歴', class: 'form-text' %>
    </div>
    <%= f.collection_select :experience_id_eq, Experience.all, :id, :name, {include_blank: '指定なし'}, {class:"pull_select"} %>
  </div>
  
  <div class="form-area">
    <div class="form-text-area">
     <%= f.label :language_eq, '学習言語', class: 'form-text' %>
    </div>
    <%= f.collection_select :language_id_eq, Language.all, :id, :name, {include_blank: '指定なし'}, {class:"pull_select"} %>
  </div>
  
  <div class="form-area">
    <div class="form-text-area">
      <%= f.label :interest_eq, '興味・関心', class: 'form-text' %>
    </div>
    <%= f.collection_select :interest_id_eq, Interest.all, :id, :name, {include_blank: '指定なし'}, {class:"pull_select"} %>
  </div>

  <div class="form-area">
    <div class="form-text-area">
      <%= f.label :age, '年齢', class: 'form-text'%>
    </div>
    <%= f.radio_button :age_lteq, ''%>
     指定なし
    <%= f.radio_button :age_lteq, '20'%>
    20歳以下
    <%= f.radio_button :age_lteq, '30'%>
    30歳以下
     <%= f.radio_button :age_lteq, '40'%>
    40歳以下
  </div>

  <div class="register-btn">
  <%= f.submit '検索',class:"register-blue-btn"%>
  </div>

  <%# <% 新着ユーザー %> 
  <br>
  <div class="form-header">
    <h2 class="form-header-text">新着ユーザー</h2>
  </div>
  <% @details.each do |detail| %>
    <td>
    <br>
    <li>
      <%= link_to detail.user.name, user_path(detail.user.id) %>
      <%= detail.age %>
      <%= detail.area.name %>
      <%= detail.occupation.name%>
      <%= detail.interest.name%>
      <%= detail.pr %>
    </li>
  <% end %>
</div>
<% end %>