<h2>検索結果</h2>
<% if @results.length != 0 %>
  <% @results.each do |result| %>
    <td>
    <br>
    <li>
      <%=link_to result.user.name, user_path(result.user.id) %>
      <%= result.age %>
      <%= result.area.name %>
      <%= result.occupation.name %>
      <%= result.interest.name %>
      <%= result.pr %>
    </li>
  <% end %>
<% else %>
 <p>該当する商品はありません</p>
<% end %>
<br>
<%= link_to '検索ページに戻る', users_path %>
<%= link_to 'トップページへ戻る', root_path %>