<div class="profile-inner">
  <div class="user_wrapper">
    <h2 class="page-heading">
      <%= @user.name%>さんのプロフィール
    </h2>

    <div class="image-area">
      <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: 'icon-image'%> 
      <% else %>
      <%= image_tag 'no_image', class: 'icon-image' %>
      <% end %>
    </div>
    <div class="box-layout">
      <div id="user-<%= @user.id %>" class="collection-item">
        <%= render 'users/follow', user:@user %>
      </div>
      <div id="show-<%= @user.id %>">
        <%= render 'users/show', {user:@user, isRoom:@isRoom, roomId:@roomId, entry:@entry, room:@room} %>
      </div>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th class="table_col1">名前</th>
          <td class="table_col2"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="table_col1">年齢</th>
          <td class="table_col2"><%= @user.detail.age %></td>
        </tr>
        <tr>
          <th class="table_col1">居住地</th>
          <td class="table_col2"><%= @user.detail.area.name %></td>
        </tr>
        <tr>
          <th class="table_col1">職業</th>
          <td class="table_col2"><%= @user.detail.occupation.name %></td>
        </tr>
        <tr>
          <th class="table_col1">最終学歴</th>
          <td class="table_col2"><%= @user.detail.school %></td>
        </tr>
        <tr>
          <th class="table_col1">業種</th>
          <td class="table_col2"><%= @user.detail.genre.name %></td>
        </tr>
        <tr>
          <th class="table_col1">開発歴</th>
          <td class="table_col2"><%= @user.detail.experience.name %></td>
        </tr>
        <tr>
          <th class="table_col1">学習言語</th>
          <td class="table_col2"><%= @user.detail.language.name %></td>
        </tr>
        <tr>
          <th class="table_col1">興味・関心</th>
          <td class="table_col2"><%= @user.detail.interest.name %></td>
        </tr>
        <tr>
          <th class="table_col1">PR文</th>
          <td class="table_col2"><%= @user.detail.pr %></td>
        </tr>
      </tbody>
    </table>
    <% if @user.id == current_user.id %>
    <div class="register-btn">
      <%= link_to "編集ページへ", edit_user_registration_path, class: :register_blue_btn %>
    </div>
    <% end %>
  </div>
</div>