<div class="registration-main">
  <div class="index-main">
    <h1 class="chat-enjoy">チャットしたいエンジニアを探しにいこう！</h1>
    <div class="search-btn">
    <%= link_to "ユーザー検索へ", users_path, class: :register_blue_btn %>
    </div>

    <div class="container-box">
        <div class="left-container">
          <h2 class="container-headline">今すぐチャットできるユーザー</h2>
          <% @follower_users.each do |f| %>
          <div class="profile-box">
            <div class="profile-card">
              <div class="header-box">
              <% if f.avatar.attached? %>
              <%= link_to user_path(f.id), class: "card-link" do %>
              <%# <a href="users/(f.id)", class="card-link"> %>
                <%= image_tag f.avatar, class: 'hoverZoomlink' %>
                <%# <img src="http://lorempixel.com/150/150/people/" class="hoverZoomlink"> %>
              <%# </a> %>
              <% end %>
              <% else %>
              <%= link_to user_path(f.id), class: "card-link" do %>
              <%= image_tag 'no_image.png', class: 'hoverZoomlink' %>
              <% end %>
              <% end %>
              <div class="name-headline">
                  <%= f.name %>
              </div>
            </div>
            <div class="profile-bio">
              <p class="pr-message">
              <p class="pr-area"><i class="fas fa-file-signature fa-lg"></i><span> Profile</span></p>
              <br/>
                <%= f.detail.pr %>
              </p>
            </div>
            </div>
          </div>
          <% end %>
        </div>
        <div class="right-container">
          <h2 class="container-headline">フォロー申請中ユーザー</h2>
          <% @follow_users.each do |u| %>
          <% unless u.following? current_user %>
          <div class="profile-box">
            <div class="profile-card">
            <div class="header-box">
              <% if u.avatar.attached? %>
                <%= link_to user_path(u.id), class: "card-link" do %>
                <%= image_tag u.avatar, class: 'hoverZoomlink' %>
              <% end %>
              <% else %>
                <%= link_to user_path(u.id), class: "card-link" do %>
                <%= image_tag 'no_image.png', class: 'hoverZoomlink' %>
              <% end %>
              <% end %>
              <%# <a href="#", class="card-link">
                <img src="http://lorempixel.com/150/150/people/" class="hoverZoomlink">
              </a> %>
              <div class="name-headline">
              <%= link_to user_path(u.id), class: "red-link" do %>
                  <%= u.name %>
              <% end %>
              </div>
            </div>
            <div class="profile-bio">
              <p class="pr-message">
              <p class="pr-area"><i class="fas fa-file-signature fa-lg"></i><span> Profile</span></p>
              <br/>
                <%= u.detail.pr %>
              </p>
            </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
