<div class="registration-main">
  <div class="index-main">
    <div class="background">
      <div class="background-text">
        <div class="top-head">
          <h1 class="chat-enjoy">Connect with engineers ...</h1>
        </div>
        <div class="search-btn">
          <%= link_to "ユーザー検索へ", users_path, class: :search_btn_blue %>
        </div>
      </div>
    </div>

    <div class="container-box">
        <div class="left-container">
          <h2 class="container-headline">✔ すぐチャットできるユーザー</h2>
          <% unless @follow_users.empty? %>
            <% @follower_users.each do |f| %>
            <div class="profile-box">
              <div class="profile-card">
                <div class="header-box">
                <% if f.avatar.attached? %>
                <%= link_to user_path(f.id), class: "card-link" do %>
                <%# <a href="users/(f.id)", class="card-link"> %>
                  <%= image_tag f.avatar, class: 'hoverZoomlink' %>
                  <%# <img src="http://lorempixel.com/150/150/people/" class="hoverZoomlink"> %>
                <%# </a> %>
                <% end %>
                <% else %>
                <%= link_to user_path(f.id), class: "card-link" do %>
                <%= image_tag 'no_image.png', class: 'hoverZoomlink' %>
                <% end %>
                <% end %>
                <div class="name-headline">
                <%= link_to user_path(f.id), class: "red-link" do %>
                    <%= f.name %>
                <% end %>
                </div>
              </div>
              <div class="profile-bio">
                <p class="pr-message">
                <p class="pr-area"><i class="fas fa-file-signature fa-lg"></i><span> プロフィール</span></p>
                <br/>
                  【年齢】 <%= f.detail.age %><br/>
                  【居住地】 <%= f.detail.area.name %><br/>
                  【自己紹介】 <p class="indent-text"><%= f.detail.pr %></p>
                </p>
              </div>
              </div>
            </div>
            <% end %>
          <% else %>
            <div class="profile-box">
              <div class="profile-card">
                <div class="header-box">
                <%= link_to root_path, class: "card-link" do %>
                <%= image_tag 'no_image.png', class: 'hoverZoomlink' %>
                <% end %>
                <div class="name-headline">
                    no-user
                </div>
              </div>
              <div class="profile-bio">
                <p class="pr-message">
                <p class="pr-area"><i class="fas fa-file-signature fa-lg"></i><span> Profile</span></p>
                <br/>
                  チャットできるユーザーがいません。ユーザーを探しにいきましょう!!
                </p>
              </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="right-container">
          <h2 class="container-headline">✔ フォロー申請中のユーザー</h2>
          <% @follow_users.each do |u| %>
          <% unless u.following? current_user %>
          <div class="profile-box">
            <div class="profile-card">
            <div class="header-box">
              <% if u.avatar.attached? %>
                <%= link_to user_path(u.id), class: "card-link" do %>
                <%= image_tag u.avatar, class: 'hoverZoomlink' %>
              <% end %>
              <% else %>
                <%= link_to user_path(u.id), class: "card-link" do %>
                <%= image_tag 'no_image.png', class: 'hoverZoomlink' %>
              <% end %>
              <% end %>
              <%# <a href="#", class="card-link">
                <img src="http://lorempixel.com/150/150/people/" class="hoverZoomlink">
              </a> %>
              <div class="name-headline">
              <%= link_to user_path(u.id), class: "red-link" do %>
                  <%= u.name %>
              <% end %>
              </div>
            </div>
            <div class="profile-bio">
              <p class="pr-message">
              <p class="pr-area"><i class="fas fa-file-signature fa-lg"></i><span> プロフィール</span></p>
              <br/>
                  【年齢】 <%= u.detail.age %><br/>
                  【居住地】 <%= u.detail.area.name %><br/>
                  【自己紹介】 <p class="indent-text"><%= u.detail.pr %></p>
              </p>
            </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
    </div>
      <%= paginate @follower_users %>
  </div>


</div>
