<div class="messages", id="message">
  <div class="chat-top">
    <div class="chat-header">
      <%= link_to root_path do %>
        <div class="room-exit">トップページに戻る</div>
      <% end %>
    </div>
    <% @entries.each do |e| %>
    <% if e.user.id != current_user.id %>
      <div class="user-name-area">
        <strong>
          <%= link_to user_path(e.user.id) do %>
            <% if e.user.avatar.attached? %>
              <%= image_tag e.user.avatar, class:"icon-image" %> 
            <% else %>
              <%# <img src="no_image.png", class="icon-image", id="sample"> %>
              <%= image_tag 'no_image.png', class: 'icon-image', id: 'sample' %>
            <% end %>
          <% end %>
          <a class="room-user-link" href="/users/<%= e.user.id %>">
            チャット相手: <%= e.user.name%>さん
          </a>
        </strong>
      </div>
    <% end %>
    <% end %>
    <hr>
  </div>
  <div class="chats">
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
        <% if m.user.id == current_user.id%>
          <div class="kaiwa">
            <%= link_to user_path(m.user.id) do %>
              <figure class="kaiwa-img-left">
                <% if m.user.avatar.attached? %>
                  <%= image_tag m.user.avatar, class:"icon-image-mini" %>
                <% else %>
                  <%= image_tag 'no_image.png', class: 'icon-image-mini' %>
                <% end %>
              </figure>
            <% end %>
            <div class="kaiwa-text-right">
              <p class="kaiwa-text">
                <strong><%= m.content %></strong><br>
                <%= l m.created_at %>
              </p>
            </div>
          </div>
        <% else %>
          <div class="kaiwa">
            <%= link_to user_path(m.user.id) do %>
              <figure class="kaiwa-img-right">
                <% if m.user.avatar.attached? %>
                  <%= image_tag m.user.avatar, class:"icon-image-mini" %>
                <% else %>
                  <%= image_tag 'no_image.png', class:"icon-image-mini" %>
                <% end %>
              </figure>
            <% end %>
            <div class="kaiwa-text-left">
              <p class="kaiwa-text">
                <strong><%= m.content %></strong><br>
                <%= l m.created_at %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
      <% end %>
      <div id="list" ></div>
    </div>
  </div>
</div>
<div id="chat">
<span id="video-end" class="video-end">退出する</span>
 <chat />
</div>
<%= javascript_pack_tag 'chat' %>
<%= stylesheet_pack_tag 'chat' %>
<div class="form">
    <%= form_with model:@message, id: "form", class: "post" do |f| %>
      <div class="post-message">
        <%= f.text_field :content, placeholder: "メッセージを入力してください", size: 70, class:"form-text-field", id:"content-message" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.hidden_field :avatar, value: current_user.avatar %>
         <%= f.submit '送信', class:"form-submit", id: "submit" %>
         <input type="button" value="ビデオ通話を始める", class="form-submit", id= "video-button"> 
      </div>
    <% end %>
</div>

